<nav>
    <div class="nav-elements">
      <a class="nav-element" href="/">Home</a>
      <a class="nav-element" href="questionnaire">Neuer Eintrag</a>
      <a class="nav-element" href="statistics">Mein Stimmungsverlauf</a>
      <a class="nav-element">Einstellungen</a>
    </div>
    <div class="login">
        <% if (loggedIn) { %>
        <p>Logged in as
            <a href="<%=`/users/${currentUser._id}`%>">
                <%= currentUser.fullName %></a>
            <a href="/users/logout">Log out</a>
        </p>
        <%} else {%>
            <a href="/users/login">Log In</a>
        <% } %>
    </div>
</nav>
