{
	"env": {
		"browser": true,
		"es6": true,
		"node": true,
		"jest": true
	},
	"rules": {
		"indent": ["error", "tab"],
		"linebreak-style": ["error", "unix"],
		"quotes": ["error", "single"],
		"semi": ["error", "always"]
	},
	"extends": ["airbnb", "prettier"]
}
