<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Contact</title>

    <link rel="stylesheet" href="public/css/bootstrap.css">
    <link rel="stylesheet" href="public/css/dailymoodtracker.css">
    <script src="public/js/dailymoodtracker.js"></script>
  </head>
  <body>

    <h1>Hello there, feel free to contact us!</h1>

    <form class="contact-form" action="/" method="post">
      <input type="email" name="email" required>
      <input class="button" type="submit" value="submit">
    </form>
  
  </body>
</html>