<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Daily Mood Tracker</title>
    <link rel="stylesheet" href="../css/bootstrap.css">
    <link rel="stylesheet" href="../public/css/dailymoodtracker.css">
    <script src="public/js/dailymoodtracker.js"></script>
  </head>
  <body>
      
    <header>
      <h1 class="logo">Daily Mood Tracker</h1>
      
      <nav> 
          <div class="nav-elements">
            <a class="nav-element">Neuer Eintrag</a>
            <a class="nav-element">Mein Stimmungsverlauf</a>
            <a class="nav-element">Einstellungen</a>
            <a class="nav-element">Abmelden</a>
          </div>
      </nav>

    </header>
    
    <main class="container">

      <h2 class="title">Dein persönlicher Stimmungsverlauf</h2>

      <table class="evaluation">
          <tr class="table-head">
              <th>Datum</th>
              <th>Stimmung</th>
              <th>Notiz</th>
            </tr>
            <tr>
              <td>14.04.2020</td>
              <td>Gut</td>
              <td>Garnichts erlebt. Auch schön.</td>
            </tr>
            <tr>
              <td>15.04.2020</td>
              <td>Sehr gut</td>
              <td>Sonne.</td>
            </tr>
            <tr>
              <td>16.04.2020</td>
              <td>Mittel</td>
              <td>Es gab im Rewe kein Klopapier mehr.</td>
            </tr>
            <tr>
              <td>17.04.2020</td>
              <td>Gut</td>
              <td>Remote-Yoga war ganz gut heute.</td>
            </tr>
            <tr>
              <td>18.04.2020</td>
              <td>Mittel</td>
              <td>Nicht gut geschlafen, aber dafür gut gegessen.</td>
            </tr>
            <tr>
              <td>19.04.2020</td>
              <td>Schlecht</td>
              <td>Ich habe angefangen Küchenpapier zu benutzen.</td>
            </tr>
            <tr>
              <td>20.04.2020</td>
              <td>Gut</td>
              <td>Es gab wieder Klopapier!</td>
            </tr>
            <tr>
              <td>21.04.2020</td>
              <td>Sehr gut</td>
              <td>Midnight Gospels ist super!</td>
            </tr>
      </table>

      <image src="../public/images/Overview.png" class="overview">

      </image>

    </main>

  </body>
</html>