<link rel="stylesheet" type="text/css"   href="/css/dailymoodtracker.css">
<link rel="stylesheet" type="text/css"   href="/css/bootstrap.css">

<h2>Registration</h2>

<form action="/register" method="post">
    <input type="text" name="name" placeholder="Name">
    <input type="text" name="email" placeholder="Email">
    <input type="text" name="password" placeholder="******">
    <input type="submit" name="submit">
</form>
    