<link rel="stylesheet" type="text/css"   href="/css/dailymoodtracker.css">
<link rel="stylesheet" type="text/css"   href="/css/bootstrap.css">

<div>
<% registrants.forEach(s => { %>
    <p><%= s.name %></p>
    <p><%= s.email %></p>
    <p><%= s.password %></p>
<% }); %>
</div>
