<h1 > Daten von:
  <%= user.fullName %>
</h1>

<table class="table">
  <tr>
    <th>Name</th>
    <td>
      <%= user.fullName %>
    </td>
  </tr>
  <tr>
    <th>Email</th>
    <td>
      <%= user.email%>
    </td>
  </tr>
  <tr>
    <th>Passwort</th>
    <td>********</td>
  </tr>
</table>
